html {
  background: rgb(180, 18, 0);
  background-repeat: no-repeat;
  height: auto;
}

body {
  background: linear-gradient(white, silver);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
}

.logo {
  height:40%;
  width: 50%;
  display: block;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}

.navbar {
  width: 100%;
  pading-top: 5%;
  float: left;
  text-align: center;
  padding-bottom: 25px;
}
.navbar li {
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  width: 20%

}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: rgb(180, 18, 0);
  display: block;
}


h1 {
  text-align: center;
  color: rgb(180, 18, 0);
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(180, 18, 0);
}

h3 {
  text-align: center;
  font-size: 30px;
}

.infoimg {
  display: block;
  margin: auto;
  height:50%;
  width: 50%;
}

.suv {
  display: block;
  margin: auto;
  float: left;
  height: 25%;
  width: 25%;

}

.data {
  float: left;
  width: 50%;
  text-align: center;
}

.data li{
  list-style: none;
}
.features {
  float: left;
  width: 50%;
}

footer {
  text-align: center;
  font-size: 30px;
  color: rgb(180, 18, 0);
  padding-bottom: 5px;
}
